@import '../../../assets/styles/variables';
@import '../../../assets/styles/_mixins';

.character {
  @include card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 100%;
  color: map-get($colors, black);
  text-decoration: none;
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      border-radius: 50%;
      border: 3px solid map-get($colors, light-blue);
    }
    
    span {
      text-align: center;
    }
  }

  .species {
    bottom: 4px;
    right: 8px;
    font-size: 10pt;
    font-family: 'Orbitron', monospace;
    color: darken(map-get($colors, green), 10%);
    align-self: flex-end;
  }
}