<footer>
  <div>
    <p class="title">Informações</p>
    <p>Dados fornecidos por <a href="https://rickandmortyapi.com/" target="_blank">Rick and Morty API</a></p>
    <p>Feito com 💚 por José • Projeto Rick and Morty Codex</p>
  </div>
  <div>
    <p class="title">Contato</p>
    <a href="https://www.linkedin.com/in/joseemiliano/" target="_black">Linkedin</a>
    <a href="mailto:araujo_26@yahoo.com">araujo_26@yahoo.com</a>
    <a href="tel:+5511977626271">+55 (11) 97762-6271</a>
  </div>
</footer>
