@import 'src/assets/styles/_mixins.scss';

.container {
  @include page;

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: normal;
    gap: 8px;
  }
}